*.
!.gitignore
*.chain
*.ppvnonsynmutsel
*.ppvnonsynsubsel
*.ppvmutsel
*.trace
*.synsubsel
*.synmutsel
*.subsel
*.sitesynmutsel
*.sitesubsel
*.sitenonsynsubsel
*.sitenonsynmutsel
*.sitemutsel
*.bplist
*.dnds
*.monitor
*.mutsel
*.nonsynmutsel
*.nonsynsubsel
*.out
*.pdndsgt1
*.sbatch
*.treelist
*.param
*.postmeancodonprofile
*.ppvsubsel
*.sitesynsubsel
*.err
*pymodules/__pycache__
*outputs/
